.navbar-custom .nav ul.dropdown-menu li,
.navbar-custom .nav ul.dropdown-menu a {
    color:#2c2c2c;
    line-height:20px;
    height:24px;
    padding-top:2px;
    padding-bottom:2px;
}

#gopher{
    position:fixed;
    bottom:0;
    right:100px;
    display:block;
    width:250px;
    height:160px;
    background:url('../img/gopher.png') top transparent no-repeat;
}