.navbar-default .nav ul.dropdown-menu li,
.navbar-default .nav ul.dropdown-menu a {
    color:#FAFAFA;
    line-height:20px;
    height:24px;
    padding-top:2px;
    padding-bottom:2px;
}
.intro-header .post-heading .meta,
body {
    font-family: 'Abel',  serif;
    font-size:2em;
}
pre,
pre code {font-family:'Inconsolata', monospace;}

.intro-header .site-heading .subheading,
.navbar-default {
    font-family:'Exo 2', sans-serif;
    margin-bottom:0;
    border-radius:0;
}
.container-fluid {
	  width:100%;
		  height:100%;
		  min-height:100%;
}
.wrapper {
        min-height:100%;
        width:100%;
        position:relative;
        display:inline-block;
             background:#FAFAFA;

}
#author-sidebar {
    padding-top:20px;
    padding-left:5px;
    padding-right:2px;
}
#sidebar {
    width:100%;
    min-height:100%;
        top:0px;
        left:0px;
        bottom:0px;
        position:absolute;
   
        background:#FAFAFA;
}
.clearfix {
    clear:both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Asap', serif;
  font-weight: 800;
}

.intro-header .post-heading h1,
.intro-header .site-heading h1 {
    font-size:28px;
}
.intro-header{
    margin-bottom:0;
}
.intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
    padding-bottom:100px;
    padding-top:100px;    
}


#gopher{
    position:fixed;
    bottom:0;
    right:100px;
    display:block;
    width:250px;
    height:160px;
    background:url('../img/gopher.png') top transparent no-repeat;
}


h2{ font-weight:regular; font-size:24px; }

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
	z-index:1000;
}

img[alt="fit-width"] {
    width:750px;
}

.media.child {
    padding-left:60px;
}
.media p {
    margin-top:10px;
    margin-bottom:10px;    
}
