appname = blog
httpport = 8080
runmode = prod
postsperpage = 10

dbpass = <database password>
dbuser = <database user>
dbname = <database name>
dbcharset = utf8

sessionon = true
SessionProvider = file
SessionGCMaxLifetime = 60
SessionName = gosessionid
SingleUser = yes

recaptchaKey = <place recaptcha key here>

uploads_dir = static/uploads/

